body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #4CAF50; /* Warna hijau */
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
}

.navbar button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.dokter {
    margin-bottom: 20px;
}

.dokter img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.dokter h2 {
    margin-bottom: 5px;
}

.dokter p {
    margin-bottom: 15px;
}
